<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-button (click)="Scan()" slot="end">
      <ion-icon name="Bluetooth"></ion-icon>
      <p>Scan</p>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-button (click)="registerNotification(3)">3 Seconds</ion-button>
  <ion-button (click)="registerNotification(10)">10 Seconds</ion-button>
  <ion-button (click)="registerNotification2()">2</ion-button>
  <br> Mac BT: {{mac_BT}}
  <br> Mac WIFI: {{mac_WIFI}}
  <br> UUII : {{uuii}}
  <ion-list>
    <ion-card-content ion-item *ngFor="let device of devices">
      <p>{{device.name || 'Unnamed'}}</p>
      <p>{{device.id}}</p>
      <p> RSSI: {{device.rssi}}</p>
    </ion-card-content>
  </ion-list>

  <ion-list padding>
    <ion-button expand="block"
                (click)="startScanning()">scan</ion-button>
    <ion-list-header>
        Paired Devices
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
        {{device.name}}
    </ion-item>
    <ion-button expand="block"
                (click)="disconnect()">Disconnect</ion-button>
    <ion-list-header>
        availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
        <span (click)="selectDevice(device.id)">
          {{device.name}},{{device.address}}
        </span>
    </ion-item>
    <ion-spinner name="crescent"
                 *ngIf="gettingDevices"></ion-spinner>
</ion-list>


<ion-button expand="full" color="danger" (click)="presentAlert()"> 
  MAC!
</ion-button>
  
</ion-content>

